<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="LeAppender" type="log4net.Appender.LogentriesAppender, LogentriesLog4net">
      <token value="13a9db00-5fd7-4dfc-97e5-eccd2e806989"/>
      <immediateFlush value="true" />
      <Debug value="true" />
      <HttpPut value="false" />
      <Ssl value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{ddd MMM dd HH:mm:ss zzz yyyy} %logger %: %level%, %m, " />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LeAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="Logentries.Token" value="13a9db00-5fd7-4dfc-97e5-eccd2e806989"/>
  </appSettings>
</configuration>